DATABASE_URL = postgresql+asyncpg://username:password@localhost:5432/db-name
REDIS_URL = redis://localhost:6379
ENVIRONMENT = development
UNSPLASH_ACCESS_KEY = your-access-key-here
UNSPLASH_API_URL = api-url-here
